#contatos{
    background: #fbff00 ;
    margin: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.contatos_card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin: auto;
    margin-bottom: 2%;
}

.cont{
    color: black;
}

#horizontal{
    display: flex;
    justify-content: space-around;
}

.contatos_card img{
    width: 6%;
    margin-right: 2%;
}

.contatos_card a{
    color: #008cff;
}